
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AjaxDemo</title>
</head>
<body>
    <div> 

        <div id="result">
        </div>


    </div>
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script>
        $(function () {
            $.ajax({
                type: "POST",
                url: "/CustomerInfo.asmx/GetCustomer",
                data: '{"id":123}',
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    $("#result").text(data.d.CustomerId + "," + data.d.Name);
                }
            });
        })
    </script>

</body>
</html>
