
@{
    Layout = null;

    var ary = new[] {
        new { title = "aa", info = "abc" },
        new { title = "bb", info = "def" },
        new { title = "cc" , info="bbb"}
    };
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index2</title>
    <link href="~/Content/themes/base/all.css" rel="stylesheet" />
</head>
<body>
    <div> 
        <input type="text" id="txt" />
    </div>

    <div id="div2">
        @foreach (var item in ary)
        {
            <h1>item.title</h1>
            <div class="myclass">
                item.info
            </div>
        }
    </div>

    <div id="div1">
        <h1>Database</h1>
        <div class="myclass">
            SQL
        </div>
        <h1>Programming</h1>
        <div class="myclass">
            ASP.NET MVC
        </div>
        <h1>Management</h1>
        <div class="myclass">
            PMP
        </div>
    </div>



    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script>

        $(function () {
            //$("#txt").datepicker();

            $("#txt").datepicker({
                numberOfMonths: 3,
                showButtonPanel: true
            });

            //$("#div1").accordion();
        });

    </script>

</body>
</html>
