
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SelectorDemo</title>
</head>
<body>
    <div> 

        <div id="div1">
            <h1>Database</h1>
            <div class="myclass">
                SQL
            </div>
            <h1>Programming</h1>
            <div class="myclass">
                ASP.NET MVC
            </div>
            <h1>Management</h1>
            <div >
                PMP
            </div>
        </div>



    </div>

    <script src="~/Scripts/jquery-3.1.1.min.js"></script>

    <script>
        $(function () {
            $("h1").css("color", "red");
            $(".myclass").css(
                {
                    color: "green",
                    "font-size": 36,
                }
            );
        });
    </script>


</body>
</html>
