
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>JsonData</title>
</head>
<body>
    <div> 
        <input type="button" value="ajax" id="button1" />
        <div id="result"></div>

    </div>
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script>
        $(function () {
            $("#button1").click(function () {
                $.ajax({
                    type: "GET",
                    url: "JsonData",
                    data: "id=1&name=mary",
                    success: function (data) {
                        console.log(data);
                        $("#result").text(data.EmpName);
                    }
                });
            });
        });

    </script>
</body>
</html>
