
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SessionDemo</title>
</head>
<body>
    <div> 
        @Session["count"]
        <br />
        @Session.SessionID
    </div>
</body>
</html>
