
@{
    Layout = null;


    //"select * from Product"

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>bbb</title>
</head>
<body>
    <div> 
        <h1>Hello MVC</h1>
    </div>
</body>
</html>
