@model IEnumerable<Mod04_7.Models.Comment>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetOtherComments</title>
</head>
<body>

    @Html.Partial("_CommentList")




</body>
</html>
