
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index2</title>
</head>
<body>
    <div> 
        @ViewBag.date2.ToShortDateString()
        <hr />
        @(((DateTime)ViewData["date1"]).ToShortDateString())

    </div>
</body>
</html>
